<div class="overlay_loading_screen" *ngIf="loading">
    <div class="lds-css ng-scope" style="position:absolute">
        <div style="width:100%;height:100%" class="lds-ripple">
            <div></div>
            <div></div>
        </div>
        <div style="color:#fff;text-align:center;letter-spacing:1px;">Please Wait ...</div>
    </div>
</div>


<div class="container-fluid">
    <div class="leftsidelogo" style="">
        <!-- <img src="assets/images/yesbank.png" style="width:200px;margin:20px;display:block;cursor:pointer"> -->
        <h1 class="headertagone">YES BANK CELEBRATE</h1>
    </div>

    <div class="mobile_image">
        <img src="assets/images/Celebrate-her-Logo-Icon.png" />
    </div>

    <div class="mobile_part" style="font-weight:bold">
        <!-- <p style="font-weight: bold;  text-align: center; font-size: 18px;">“Women are the real architects of society.”</p> -->
        <p class="text-center">Presenting <span style="font-weight:bold">‘Celebrate HER’</span> a platform for everyone
            to join hands to celebrate the spirit of womanhood.</p>
        <!-- <p class="text-center" style="font-weight: bold;">‘Celebrate Her’</p> -->

        <p class="text-center" style="font-size:20px;color:#e31d23;font-weight:bold">Celebrate HER Story Contest!!!</p>

        <!-- <p class="text-center" style="font-weight:bold;color:#fff;margin-bottom:3px;">TO PARTICIPATE :</p>
        <div style="border-bottom:1px solid #fff;;height:1px;width:140px;margin:0px auto;"></div> -->

        <p class="text-center" style="color:#0060aa;margin-top:10px;">To participate simply write a story
            of a woman who inspired you Or your own inspiring story, and submit with a picture upload.</p>
        <div class="form-element text-center">
            <a href="assets/pdf/Celebrate_Her_Story_contest_Prizes.pdf" target="_blank"><button class="btn btn-primary" style="font-weight:bold;font-size:18px;background-color: #0060aa;">View Prizes</button></a>
        </div>
        <!-- <p class="text-center" style="color:#052461;font-size:15px;font-weight:bold">Winners for Cherishing Childhood Contest will be announced shortly</p> -->
    </div>
    <div class="mobile_clear"></div>
    
    <form class="signup_form" [formGroup]="signup_form" (ngSubmit)="on_submit_signup_form(signup_form)">
        <div class="logo">
            <img src="assets/images/yesbank.png" alt="YES BANK Celebrate" title="YES BANK Celebrate" style="width:200px;margin:0 auto;display:block;">
        </div>
        <div>
            <h4 class="text-center signup_title" style="color: #e31d23;">Contest is now closed </h4>
            <br />
        </div>
        <div class="form-group">
            <div class="form-element">
                <label>Full Name <span style="color:#e31d23">*</span></label>
                <input type="text" class="form-control"  id="full_name" formControlName="full_name" pattern="[a-zA-Z][a-zA-Z ]+"
                    [ngClass]="{ 'is-invalid': submitted && validation_function.full_name.errors }"
                    placeholder="Full Name" disabled />
            </div>
            <div class="form-element">
                <label>Email <span style="color:#e31d23">*</span></label>
                <input type="email" formControlName="email" id="email" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && validation_function.email.errors }"
                    placeholder="Email Address" disabled />
            </div>

            <div class="form-element">
                <label>Phone Number <span style="color:#e31d23">*</span></label>
                <input type="text" id="phone_number" formControlName="phone_number" (keypress)="keyPress($event)"
                    [ngClass]="{ 'is-invalid': submitted && validation_function.phone_number.errors }"
                    class="form-control" minlength="10" maxlength = "10" placeholder="Phone Number" disabled/>
            </div>


            <div class="form-element">
                <label>Are you YES BANK Customer ? <span style="color:#e31d23">*</span></label>

                <div class="radios">
                    <div class="radio">
                        <input type="radio" id="radio2" name="is_yes_bank_customer" formControlName="is_yes_bank_customer" value="true" disabled>
                        <label for="radio2">
                            <div class="checker"></div>
                            Yes
                        </label>
                    </div>

                    <div class="radio">
                        <input type="radio" id="radio3" name="is_yes_bank_customer" formControlName="is_yes_bank_customer" value="false" disabled>
                        <label for="radio3">
                            <div class="checker"></div>
                            No
                        </label>
                    </div>
                </div>
            </div>

            <div class="form-element">
                <label>Referral Code (If Applicable) </label>
                <input type="text" id="referral_code" formControlName="referral_code" (keypress)="keyPress($event)"
                    [ngClass]="{ 'is-invalid': submitted && validation_function.referral_code.errors }"
                    class="form-control" minlength="7" maxlength = "7" placeholder="Enter the 7 digit number" disabled/>
            </div>
            <div class="form-element text-center success_div" *ngIf="show_success">
                {{success_message}}
            </div>
            <div class="form-element text-center error_div" *ngIf="show_error">
                <div *ngFor="let response of error_message">{{response.message}}</div>
            </div>
            <div class="form-element text-center">
                <button class="btn btn-primary"
                    style="padding-left:20px;padding-right:20px;font-size: 20px;" onclick="dataLayer.push({'event' : 'yesBankCelebrate','eventCategory' : 'Celebrate Her Contest','eventAction' : 'NEXT', 'eventLabel' : 'NA'});" disabled>NEXT</button>
            </div>
            <div class="form-element text-center" style="margin-top:10px;margin-bottom:0px;font-size:20px;">
                <b>Our Partners</b>
            </div>
            <div class="form-element partner_logos">

                
                <div class="logo_holder" style="width:90px;float:left">
                    <img src="assets/images/aws.png" style="width:100%;margin-top:5px;margin-left:5px;cursor:pointer" (click)="openavis()"/>
                </div>
                <div class="partner_logo_secondchild"></div>
                <div class="logo_holder lastlogo">
                    <img src="assets/images/easydinner.png" style="width:100%;margin-top:10px;" />
                </div>
                <div style="clear:both"></div>
            </div>

            <div class="form-element text-center termsDiv">
             <a class="termsCondition" href="assets/pdf/YBL-CEP-TC's-Celebrate-Her-Story.pdf" target="_blank"><span>*Terms & Conditions</span></a> | <a class="termsCondition" href="/mosaic" target="_blank"><span>Mosaic Wall</span></a>
            </div>
        </div>
    </form>
    <form class="animated slideInRight upload_form" [formGroup]="description_form" (ngSubmit)="onsubmit(description_form)" style="display:none">
        <div *ngIf="show_alert_success" class="alert alert-success">
            <strong>{{success_message}}</strong>
        </div>

        <div *ngIf="show_alert_error">
            <div class="alert alert-danger" *ngFor="let response of error_message">
                <strong>{{response.message}}</strong>
            </div>
        </div>


        <div class="logo" style="margin-bottom:10px;">
            <img src="assets/images/yesbank.png" alt="YES BANK Celebrate" title="YES BANK Celebrate"
                style="width:200px;margin:0 auto;display:block;">
        </div>

        <div class="form-group">
            <div class="form-element" style="overflow:hidden">
                <label>Select Image (Optional)</label>
                <input type="file" accept="image/*" formControlName="image" class="form-control"
                    (change)="onFileChange($event);" />
                <div *ngIf="!file_error">
                    <img *ngIf="image_show" src="{{image_show}}"
                        style="border:1px solid #eee;height:200px;margin:20px auto;object-fit:cover;display:block" />

                </div>
                <div *ngIf="file_error" style="color:red">*{{file_error}}</div>
            </div>

            <div class="form-element">
                <label>Name</label>
                <input type="text" rows="5" id="name"
                    [ngClass]="{ 'is-invalid_upload': submitted_upload && validation_function_upload.name.errors }" formControlName="name"
                    class="form-control" placeholder="Name of the woman who inspired you">
            </div>

            <div class="form-element">
                <label>Description</label>
                <textarea type="text" rows="3" id="description"
                    [ngClass]="{ 'is-invalid_upload': submitted_upload && validation_function_upload.description.errors }"
                    formControlName="description" class="form-control"
                    placeholder="What is it about her that inspires you" maxlength="2000"></textarea>
            </div>

            <div class="form-element text-center">
                <button class="btn btn-primary"
                    onclick="dataLayer.push({'event' : 'yesBankCelebrate','eventCategory' : 'Celebrate Her Contest','eventAction' : 'Submit', 'eventLabel' : 'NA'});">Submit</button>
            </div>

        </div>
    </form>
    <!-- <div class="women_logo desktop_image">
        <img src="assets/images/Celebrate-her-Logo-Icon.png" style="width:70%;" />
    </div> -->

    <div class="textpart desktop_part"
        style="width:400px;min-height:200px;float:right;margin-right:50px;margin-top:75px; font-size: 17px;color:#0060aa;    transform: scale(1.2);">
        <!-- <p style="    font-weight: bold;text-align: center; font-size: 18px;">“Women are the real architects of society.”</p> -->
        <p class="text-center">Presenting <span style="font-weight:bold">‘Celebrate HER’</span> a platform for everyone
            to join hands to celebrate the spirit of womanhood.</p>
        <!-- <p class="text-center" style="font-weight: bold;">‘Celebrate Her’</p> -->

        <p class="text-center" style="font-size:20px;color:#e31d23;font-weight:bold">Celebrate HER Story Contest!!!</p>
        <!-- <p class="text-center" style="font-weight:bold;color:#fff;margin-bottom:3px;"> :</p> -->
        <!-- <div style="border-bottom:1px solid #fff;;height:1px;width:140px;margin:0px auto;"></div> -->

        <p class="text-center" style="font-weight:bold;color:#052461;margin-top:10px;">To participate simply write a story
            of a woman who inspired you Or your own inspiring story, and submit with a picture upload.</p>
        <div class="form-element text-center">
            <a href="assets/pdf/Celebrate_Her_Story_contest_Prizes.pdf" target="_blank"><button class="btn btn-primary" style="font-weight:bold;font-size:18px;">View Prizes</button></a>
        </div>

        <a href="assets/pdf/Cherishing_Childhood_Contest_Winners_Final.pdf" target="_blank" class="winners_div">
            <div>
                The Cherishing Childhood contest winners
            </div>
        </a>

        <a class="btn btn-primary winners_button" [routerLink]="['/winners']">Weekly Winners</a>
        <!-- <p class="text-center" style="color:#052461;font-size:15px;font-weight:bold">Winners for Cherishing Childhood Contest will be announced shortly</p> -->
    </div>
    
    <div style="clear:both"></div>

    
<div class="mobile_winners_div">
    <a href="assets/pdf/Cherishing_Childhood_Contest_Winners_Final.pdf" target="_blank">
            The Cherishing Childhood contest winners
    </a>
</div>
<div class="mobile_winners_button text-center" style="margin:20px;">
    <a class="btn btn-primary" style="font-weight:bold" [routerLink]="['/winners']">Weekly Winners</a>
</div>
</div>


<!-- Modal -->
<div class="modal fade" id="confirmation_modal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header" style="display:none">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add Status</h4>
            </div>
            <div class="modal-body">
                <p class="text-center" style="font-size:18px">Thankyou for submitting your stories !</p>
                <p class="text-center" style="font-size:18px">Do you want to add more stories ? </p>
                <div class="text-center">
                    <button class="btn btn-primary modal_buttons" data-dismiss="modal"
                        onclick="dataLayer.push({'event' : 'yesBankCelebrate','eventCategory' : 'Celebrate Her Contest','eventAction' : 'Yes', 'eventLabel' : 'NA'});">Yes</button>
                    <button class="btn btn-primary modal_buttons" (click)="takemeToMosaic()" data-dismiss="modal"
                        onclick="dataLayer.push({'event' : 'yesBankCelebrate','eventCategory' : 'Celebrate Her Contest','eventAction' : 'No', 'eventLabel' : 'NA'});">No</button>
                </div>
            </div>
            <!-- <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div> -->
        </div>

    </div>
</div>