<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="count_box">
                    <h4 class="text-center headings"><b>Total Users</b></h4>
                    <h4 class="text-center"><b>{{total_user ? total_user : '-'}}</b></h4>
                </div>

            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="count_box">
                    <h4 class="text-center headings"><b>Total Stories</b></h4>
                    <h4 class="text-center"><b>{{total_stories ? total_stories : '-'}}</b></h4>
                </div>

            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="count_box">
                    <h4 class="text-center headings"><b>Total Approved</b></h4>
                    <h4 class="text-center"><b>{{total_stories_unhidden ? total_stories_unhidden : '-'}}</b></h4>
                </div>

            </div>
            <!-- <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="count_box">
                                <h4 class="text-center"><b>YES BANK Customer</b></h4>
                                <h4 class="text-center"><b>{{total_yes_bank_users ? total_yes_bank_users : '-'}}</b></h4>
                        </div>
                       
                    </div> -->
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="count_box">
                    <h4 class="text-center headings"><b>Total Customer</b></h4>
                    <h4 class="text-center"><b>{{total_yes_bank_users ? total_yes_bank_users : '-'}}</b></h4>
                </div>

            </div>
        </div>
    </div>
</div>