<div class="container-fluid">
    <div class="container">
        <div class="text-left" style="margin:20px 0px;">
            <button class="btn btn-primary" [routerLink]="['/admin/users']">Back</button>
        </div>
    </div>
    <div class="container">
            <div *ngIf="success_alert">
                    <div class="alert alert-success">
                        <strong>{{success_message}}</strong>
                    </div>
                </div>
        
                <div *ngIf="error_alert">
                    <div class="alert alert-danger" *ngFor="let response of error_message">
                        <strong>{{response.message}}</strong>
                    </div>
                </div>
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <!-- <th>#</th> -->
                        <th>Image</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Description</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody *ngIf="preview_data">
                    <tr *ngFor="let story of stories_data | paginate: { itemsPerPage: 10, currentPage: p, totalItems: total_stories_count}; let index=i"
                        (click)="show_stories(user.email)" style="cursor:pointer">
                        <!-- <td>1</td> -->

                        <td>
                            <div>
                                <img *ngIf="story.image; else default_image_stories" src="{{basepath}}{{story.image}}" width="100%" />
                                <ng-template #default_image_stories>
                                    <img src="assets/images/Celebrate-her-Logo-Icon.png" width="100%" /> 
                                </ng-template>
                            </div>

                        </td>
                        <td>{{story.name}}</td>
                        <td>{{story.email}}</td>
                        <td>
                            <div style="height:60px;overflow:hidden">
                                {{story.description}}
                            </div>
                            <div class="text-right">
                                <span (click)="show_data(story);" data-toggle="modal" data-target="#data_modal"
                                    style="cursor:pointer">...more</span>
                            </div>
                        </td>
                        <td>
                            <label class="switch">
                                <input type="checkbox" [checked]="story.is_hidden || story.is_hidden ? true : false"
                                    id="{{i}}" (change)="isHidden(story._id)">
                                <span class="slider round"></span>
                            </label>
                        </td>
                    </tr>
                </tbody>
              
                    <tbody *ngIf="!preview_data">
                        <tr>
                            <td colspan="5"> 
                                <div class="text-center" style="font-size:30px;color:red;padding:20px;">NO STORIES</div>
                            </td>
                        </tr>
                    </tbody>
            
            </table>
        </div>

        <div class="text-center">
            <pagination-controls (pageChange)="p = $event;"></pagination-controls>
        </div>
    </div>



</div>




<!-- Modal -->
<div id="data_modal" class="modal fade" role="dialog">
        <div class="modal-dialog">
    
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">{{story_name}}</h4>
                </div>
                <div class="modal-body">
                    <div style="margin-bottom:10px; word-break: break-word;">
                        {{story_description}}
                    </div>
                    <div style="display:block;overflow:hidden">
                        <img *ngIf="story_image; else default_image" src="{{basepath}}{{story_image}}" width="100%"
                            height="100%">
                        <ng-template #default_image>
                            <img class="tweet_image" src="assets/images/Celebrate-her-Logo-Icon.png" width="100%"
                                height="100%" />
                        </ng-template>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
    
        </div>
    </div>